<.flash_group flash={@flash} />
<p class="text-[2rem] mt-4 font-semibold leading-10 tracking-tighter text-zinc-900 text-balance">
  Active Auctions
</p>

<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <ul>
      <%= for {auction_name, _} <- @active_auctions do %>
        <li><%= auction_name %></li>
      <% end %>
    </ul>
  </div>
</div>
